@charset "UTF-8";
/* INDEX */
body {
  background-color: grey; }

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 86px;
  width: 1016px;
  background-color: white;
  margin: auto;
  grid-row-gap: 10px; }

main {
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 865px;
  width: 1016px;
  background-color: white;
  margin: auto;
  grid-row-gap: 10px; }

/* Headern */
header {
  grid-row: 1/3;
  grid-column: 1/11;
  background-color: #d141e1; }

header h1 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; }

.sok_plats {
  grid-column: 3/9;
  grid-row: 1/3;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 38px; }

.plats {
  grid-row: 2/4;
  grid-column: 4/8;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.plats h1 {
  grid-row: 2/3;
  grid-column: 1/4;
  color: #d141e1;
  text-align: center;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  border-style: solid;
  border-color: #d141e1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px; }

/* Menyn */
.menu i.material-icons {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-left: 10px; }

button {
  grid-column: 10/11;
  grid-row: 1/3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #d141e1;
  text-align: center;
  border: none;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer; }

button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  overflow: hidden;
  position: absolute;
  padding-top: 90px;
  padding-left: 110px;
  margin-left: -15px;
  margin-top: -55px;
  opacity: 0;
  transition: 0.4s; }

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; }

p {
  font-family: Arial, Helvetica, sans-serif; }

.menu {
  display: none;
  grid-row: 1/4;
  grid-column: 10/11;
  background: white;
  border-style: solid;
  border-color: grey;
  border-width: 2px; }

.show {
  display: block; }

/* "Popul├ñra Resm├Ñl" listan */
.populart {
  grid-row: 4/11;
  grid-column: 2/10;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  display: grid; }

h2 {
  grid-row: 1/3;
  grid-column: 1/11;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  color: #d141e1; }

.plats1 {
  grid-row: 4/6;
  grid-column: 1/11;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  border-style: solid;
  border-width: 3px;
  border-color: #d141e1; }

.plats1:active {
  background-color: #ebebeb; }

.plats2 {
  grid-row: 6/8;
  grid-column: 1/11;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  border-style: solid;
  border-width: 3px;
  border-color: #d141e1; }

.plats2:active {
  background-color: #ebebeb; }

.plats3 {
  grid-row: 8/10;
  grid-column: 1/11;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  border-style: solid;
  border-width: 3px;
  border-color: #d141e1; }

.plats3:active {
  background-color: #ebebeb; }

.plats4 {
  grid-row: 10/12;
  grid-column: 1/11;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  border-style: solid;
  border-width: 3px;
  border-color: #d141e1; }

.plats4:active {
  background-color: #ebebeb; }

.populart h3 {
  grid-column: 1/2;
  grid-row: 1/4;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  margin-left: 10px; }

.alfabetisk h3 {
  grid-column: 1/2;
  grid-row: 1/4;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  margin-left: 10px; }

.plats1 a {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  margin-left: 10px;
  font-size: 18px;
  text-decoration: none; }

/* "Alfabetisk Ordning" listan */
.alfabetisk {
  grid-row: 12/19;
  grid-column: 2/10;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  display: grid; }

.alfabetisk p {
  grid-column: 1/11;
  grid-row: 3/4;
  color: #d141e1;
  font-size: 12px;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 0px; }

@media only screen and (max-device-width: 400px) {
  .container {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    height: 48px;
    width: 320px; }

  main {
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(5, 1fr);
    height: 520px;
    width: 320px; }

  /* Headern */
  header {
    grid-row: 1/2;
    grid-column: 1/6; }

  .sok_plats {
    font-size: 15px;
    grid-column: 2/5;
    grid-row: 1/2;
    margin: 5px; }

  header h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 0px; }

  .plats {
    grid-row: 2/3;
    grid-column: 2/5; }

  .plats h1 {
    font-size: 20px;
    border: none;
    grid-row: 1/3; }

  /* Menyn */
  .menu i.material-icons {
    font-size: 12px; }

  button {
    grid-column: 5/6;
    grid-row: 1/2;
    font-size: 15px; }

  button:after {
    grid-column: 5/6;
    grid-row: 1/2;
    padding-top: 45px;
    padding-left: 65px;
    margin-left: -7px;
    margin-top: -30px; }

  .menu {
    grid-row: 1/3;
    grid-column: 5/6;
    font-size: 12px;
    border-width: 1px;
    margin-bottom: 30px; }

  nav p {
    margin: 5px; }

  /* "Popul├ñra Resm├Ñl" listan */
  .populart {
    grid-row: 2/6;
    grid-column: 1/6; }

  .populart h2 {
    font-size: 20px;
    grid-row: 3/4;
    margin: 0px; }

  .populart h3 {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    grid-row: 2/3;
    grid-column: 1/3; }

  .alfabetisk h3 {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    grid-row: 2/3;
    grid-column: 1/3; }

  .plats1 a {
    grid-column: 1/3;
    font-size: 12px; }

  /* "Alfabetisk Ordning" listan */
  .alfabetisk {
    grid-row: 6/10;
    grid-column: 1/6; }

  .alfabetisk h2 {
    font-size: 20px; }

  .alfabetisk p {
    font-size: 10px;
    letter-spacing: 4px; } }
/* V├äLJ HOTELL */
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  grid-column: 9/10;
  grid-row: 2/3;
  margin: 0px; }

.stjarnor {
  grid-row: 1/4;
  grid-column: 10/11;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  display: grid; }

.stjarna1 {
  grid-row: 2/3;
  grid-column: 1/2;
  background-image: url(../img/Stjarna.png); }

.stjarna2 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-image: url(../img/Stjarna.png); }

.stjarna3 {
  grid-row: 2/3;
  grid-column: 3/4;
  background-image: url(../img/Stjarna.png); }

.stjarna4 {
  grid-row: 2/3;
  grid-column: 4/5;
  background-image: url(../img/Stjarna.png); }

.stjarna5 {
  grid-row: 2/3;
  grid-column: 5/6;
  background-image: url(../img/Stjarna.png); }

@media only screen and (max-device-width: 400px) {
  h4 {
    font-size: 10px;
    grid-row: 2/4;
    grid-column: 7/9; }

  .stjarnor {
    grid-column: 9/11; }

  .stjarna1 {
    background-image: url(../img/Stjarna_mobil.png); }

  .stjarna2 {
    background-image: url(../img/Stjarna_mobil.png); }

  .stjarna3 {
    background-image: url(../img/Stjarna_mobil.png); }

  .stjarna4 {
    background-image: url(../img/Stjarna_mobil.png); }

  .stjarna5 {
    background-image: url(../img/Stjarna_mobil.png); } }
/* HOTELLDETALJER */
.hotell {
  grid-row: 1/3;
  grid-column: 5/7;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.hotell h1 {
  grid-row: 2/3;
  grid-column: 1/4;
  color: #d141e1;
  text-align: center;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  border-style: solid;
  border-color: #d141e1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px; }

/* hotellbild + detaljer */
.hotellbild {
  grid-row: 4/8;
  grid-column: 2/6;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background-image: url(../img/hotellbild.jpg); }

.detaljer {
  grid-row: 4/6;
  grid-column: 6/9;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  display: grid; }

h5 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  grid-column: 1/4;
  grid-row: 1/3;
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px; }

.stjarnor_2 {
  grid-row: 2/5;
  grid-column: 1/3;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  margin-left: 5px;
  margin-top: 5px; }

.stjarna1_2 {
  grid-row: 1/4;
  grid-column: 1/2;
  background-image: url(../img/Stjarna.png);
  margin-left: 2px;
  margin-bottom: 6px; }

.stjarna2_2 {
  grid-row: 1/4;
  grid-column: 2/3;
  background-image: url(../img/Stjarna.png);
  margin-left: 2px;
  margin-bottom: 6px; }

.stjarna3_2 {
  grid-row: 1/4;
  grid-column: 3/4;
  background-image: url(../img/Stjarna.png);
  margin-left: 2px;
  margin-bottom: 6px; }

.detaljer a {
  grid-row: 1/3;
  grid-column: 3/5;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  text-decoration: none; }

.detaljer .bokaknapp {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #d141e1;
  text-align: center;
  transition-duration: 0.4s; }

.detaljer .bokaknapp:hover {
  background-color: white;
  color: black;
  border: 2px solid #d141e1;
  transition-duration: 0.4s; }

.bildtext {
  grid-row: 6/8;
  grid-column: 6/9;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid; }

.bildtext p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 50px; }

/* Text under bilden */
.text {
  grid-row: 9/11;
  grid-column: 2/10;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid; }

.text p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px; }

/* Hotellrumsbilder */
.rumsbilder {
  grid-row: 12/18;
  grid-column: 2/10;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  grid-gap: 10px; }

.rumsbild1 {
  grid-row: 1/2;
  grid-column: 1/5;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background-image: url(../img/rumsbild1.jpg); }

.rumsbild2 {
  grid-row: 1/2;
  grid-column: 5/9;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background-image: url(../img/rumsbild2.jpg); }

.rumsbild3 {
  grid-row: 1/2;
  grid-column: 9/13;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background-image: url(../img/rumsbild3.jpg); }

.rumsbild4 {
  grid-row: 2/3;
  grid-column: 1/5;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background-image: url(../img/rumsbild4.jpg); }

.rumsbild5 {
  grid-row: 2/3;
  grid-column: 5/9;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background-image: url(../img/rumsbild5.jpg); }

.rumsbild6 {
  grid-row: 2/3;
  grid-column: 9/13;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background-image: url(../img/rumsbild6.jpg); }

@media only screen and (max-device-width: 400px) {
  .hotell {
    grid-row: 1/2;
    grid-column: 2/5;
    margin-top: 5px; }

  .hotell h1 {
    font-size: 20px;
    border: none;
    grid-row: 1/3;
    margin-top: 15px; }

  /* hotellbild + detaljer */
  .hotellbild {
    grid-row: 2/4;
    grid-column: 1/3;
    margin-left: 5px;
    background-image: url(../img/hotellbild_mobil.jpg); }

  .detaljer {
    grid-row: 2/3;
    grid-column: 3/6;
    grid-template-rows: repeat(2, 1fr); }

  h5 {
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 1/2;
    margin-left: 3px; }

  .stjarnor_2 {
    grid-row: 2/3;
    grid-template-rows: repeat(2, 1fr);
    margin-left: 3px;
    margin-top: 0px; }

  .stjarna1_2 {
    grid-row: 1/2;
    background-image: url(../img/Stjarna_mobil.png);
    margin-left: 0px;
    margin-bottom: 0px; }

  .stjarna2_2 {
    grid-row: 1/2;
    background-image: url(../img/Stjarna_mobil.png);
    margin-left: 0px;
    margin-bottom: 0px; }

  .stjarna3_2 {
    grid-row: 1/2;
    background-image: url(../img/Stjarna_mobil.png);
    margin-left: 0px;
    margin-bottom: 0px; }

  .detaljer a {
    grid-row: 2/3;
    grid-column: 2/4;
    margin-right: -10px;
    margin-left: 10px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr); }

  .detaljer .bokaknapp {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 15px; }

  .bildtext {
    grid-row: 3/4;
    grid-column: 3/6; }

  .bildtext p {
    font-size: 8px;
    margin-left: 3px;
    margin-right: 3px; }

  /* Text under bilden */
  .text {
    grid-row: 4/6;
    grid-column: 1/6; }

  .text p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px; }

  /* Hotellrumsbilder */
  .rumsbilder {
    grid-row: 6/9;
    grid-column: 1/6; }

  .rumsbild1 {
    background-image: url(../img/rumsbild1_mobil.jpg); }

  .rumsbild2 {
    background-image: url(../img/rumsbild2_mobil.jpg); }

  .rumsbild3 {
    background-image: url(../img/rumsbild3_mobil.jpg); }

  .rumsbild4 {
    background-image: url(../img/rumsbild4_mobil.jpg); }

  .rumsbild5 {
    background-image: url(../img/rumsbild5_mobil.jpg); }

  .rumsbild6 {
    background-image: url(../img/rumsbild6_mobil.jpg); } }
/* DATUMBOKNING */
/* Bokningsdatum */
.incheckningsdatum {
  grid-row: 4/7;
  grid-column: 3/9;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  display: grid; }

.utcheckningsdatum {
  grid-row: 7/10;
  grid-column: 3/9;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  display: grid; }

h6 {
  font-size: 18px;
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1; }

.incheckningsdatum .dag {
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.incheckningsdatum .manad {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.incheckningsdatum .ar {
  grid-column: 3/4;
  grid-row: 2/3;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.utcheckningsdatum .dag {
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.utcheckningsdatum .manad {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.utcheckningsdatum .ar {
  grid-column: 3/4;
  grid-row: 2/3;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.incheckningsdatum input {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 15px;
  text-align: center;
  margin: 0px; }

.utcheckningsdatum input {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 15px;
  text-align: center;
  margin: 0px; }

/* Rum/Antal personer */
.rum_personer {
  grid-row: 11/13;
  grid-column: 3/9;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(7, 1fr);
  display: grid; }

.antal_rum {
  grid-column: 2/4;
  grid-row: 1/2; }

.antal_pers {
  grid-column: 5/7;
  grid-row: 1/2; }

.rum {
  grid-column: 2/4;
  grid-row: 2/3;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.pers {
  grid-column: 5/7;
  grid-row: 2/3;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.rum_personer input {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 15px;
  text-align: center;
  margin: 0px; }

/* "Boka" knapp */
.betalning {
  grid-row: 15/16;
  grid-column: 5/7;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid; }

.betalning a {
  grid-row: 1/2;
  grid-column: 1/2;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  text-decoration: none; }

.bokaknapp {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #d141e1;
  text-align: center;
  transition-duration: 0.4s; }

.bokaknapp:hover {
  background-color: white;
  color: black;
  border: 2px solid #d141e1;
  transition-duration: 0.4s; }

@media only screen and (max-device-width: 400px) {
  /* Bokningsdatum */
  .incheckningsdatum {
    grid-row: 2/5;
    grid-column: 2/5;
    grid-row-gap: 5px;
    grid-column-gap: 5px; }

  .utcheckningsdatum {
    grid-row: 4/7;
    grid-column: 2/5;
    grid-row-gap: 5px;
    grid-column-gap: 5px; }

  h6 {
    font-size: 15px;
    margin-top: 30px; }

  .rum_personer input {
    width: 55px;
    font-size: 15px; }

  .utcheckningsdatum input {
    width: 55px;
    font-size: 15px; }

  .incheckningsdatum input {
    width: 55px;
    font-size: 15px; }

  /* Rum/Antal personer */
  .rum_personer {
    grid-row: 6/8;
    grid-column: 2/5; }

  /* "Boka" knapp */
  .betalning {
    grid-row: 8/10;
    grid-column: 2/5;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px; } }
/* BETALNING */
/* Kortinfo */
.korttyp {
  grid-row: 4/6;
  grid-column: 3/5;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.betalning_text {
  font-size: 18px;
  grid-row: 1/2;
  grid-column: 1/4;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: left; }

select {
  grid-row: 2/3;
  grid-column: 1/3;
  font-size: 15px; }

.kortnummer {
  grid-row: 6/8;
  grid-column: 3/5;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.kortnummer input {
  grid-row: 2/3;
  grid-column: 1/3;
  font-size: 15px;
  margin: 0px; }

.utgangsdatum {
  grid-column: 6/9;
  grid-row: 6/8;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  display: grid; }

.utgangsdatum .manad {
  grid-row: 2/3;
  grid-column: 1/2; }

.utgangsdatum .ar {
  grid-row: 2/3;
  grid-column: 2/3; }

.sakerhetskod {
  grid-row: 2/3;
  grid-column: 3/4;
  margin: 0px; }

.utgangsdatum h3 {
  grid-column: 1/4; }

/* Faktureringsuppgifter */
.betalning_titel {
  font-size: 22px;
  grid-row: 9/10;
  grid-column: 3/6;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left; }

.namn {
  grid-column: 3/6;
  grid-row: 10/12;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  display: grid; }

.fornamn {
  font-size: 18px;
  grid-row: 1/2;
  grid-column: 1/3;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: left; }

.namn .fornamn_input {
  grid-row: 2/3;
  grid-column: 1/3;
  margin: 0px; }

.efternamn {
  grid-row: 1/2;
  grid-column: 3/5;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #d141e1;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: left; }

.namn .efternamn_input {
  grid-row: 2/3;
  grid-column: 3/5;
  margin: 0px; }

.stad {
  grid-row: 10/12;
  grid-column: 7/9;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.stad input {
  grid-row: 2/3;
  grid-column: 1/4;
  margin: 0px; }

.faktureringsadress {
  grid-row: 12/14;
  grid-column: 3/6;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.faktureringsadress input {
  grid-row: 2/3;
  grid-column: 1/4;
  margin: 0px; }

.postkod {
  grid-row: 12/14;
  grid-column: 7/9;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.postkod input {
  grid-row: 2/3;
  grid-column: 1/4;
  margin: 0px; }

.land {
  grid-row: 14/16;
  grid-column: 3/6;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.land input {
  grid-row: 2/3;
  grid-column: 1/4;
  margin: 0px; }

.telefonnummer {
  grid-row: 14/16;
  grid-column: 7/9;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.telefonnummer input {
  grid-row: 2/3;
  grid-column: 1/4;
  margin: 0px; }

/* "Betala" knapp */
.betala {
  grid-row: 17/18;
  grid-column: 5/7;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid; }

.betala a {
  grid-row: 1/2;
  grid-column: 1/2;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  text-decoration: none; }

@media only screen and (max-device-width: 400px) {
  /* Kortinfo */
  .korttyp {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 10px; }

  .betalning_text {
    font-size: 10px;
    margin-top: 10px; }

  .fornamn {
    font-size: 10px;
    margin-top: 10px; }

  .efternamn {
    font-size: 10px;
    margin-top: 10px; }

  .kortnummer input {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  select {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 12px;
    width: 60px;
    height: 20px; }

  .kortnummer {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 10px;
    margin-right: -15px; }

  .utgangsdatum {
    grid-row: 2/3;
    grid-column: 3/6;
    margin-left: -38px;
    margin-right: 10px; }

  /* Faktureringsuppgifter */
  .betalning_titel {
    grid-row: 4/5;
    grid-column: 1/3;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 30px; }

  .namn {
    grid-row: 5/6;
    grid-column: 1/3;
    margin-left: 10px;
    margin-right: -15px; }

  .stad {
    grid-row: 5/6;
    grid-column: 4/6;
    margin-left: -25px;
    margin-right: 10px; }

  .faktureringsadress {
    grid-row: 6/7;
    grid-column: 1/3;
    margin-left: 10px;
    margin-right: -15px; }

  .postkod {
    grid-row: 6/7;
    grid-column: 4/6;
    margin-left: -25px;
    margin-right: 10px; }

  .land {
    grid-row: 7/8;
    grid-column: 1/3;
    margin-left: 10px;
    margin-right: -15px; }

  .telefonnummer {
    grid-row: 7/8;
    grid-column: 4/6;
    margin-left: -25px;
    margin-right: 10px; }

  .faktureringsadress input {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  .postkod input {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  .land input {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  .telefonnummer input {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  .namn .fornamn_input {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  .namn .efternamn_input {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  .stad input {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  .sakerhetskod {
    width: 100%;
    height: 15px;
    font-size: 10px; }

  /* "Betala" knapp */
  .betala {
    grid-row: 8/10;
    grid-column: 2/5;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
    margin-bottom: 35px; } }
/* BOKAT OCH KLART */
.titel {
  grid-row: 1/3;
  grid-column: 3/9;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid; }

.titel h1 {
  grid-row: 2/3;
  grid-column: 1/4;
  color: #d141e1;
  text-align: center;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  border-style: solid;
  border-color: #d141e1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px; }

/* Info */
.info {
  grid-row: 4/16;
  grid-column: 4/8;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid; }

.info p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

/* "Tillbaka till startsidan" knapp */
.tillbaka {
  grid-row: 16/18;
  grid-column: 5/7;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  margin-top: 15px;
  margin-bottom: 15px; }

.tillbaka a {
  grid-row: 1/2;
  grid-column: 1/2;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  text-decoration: none; }

.tillbakaknapp {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #d141e1;
  text-align: center;
  transition-duration: 0.4s; }

.tillbakaknapp:hover {
  background-color: white;
  color: black;
  border: 2px solid #d141e1;
  transition-duration: 0.4s; }

@media only screen and (max-device-width: 400px) {
  .titel {
    grid-row: 1/3;
    grid-column: 2/5; }

  .titel h1 {
    font-size: 20px;
    border: none;
    grid-row: 1/3;
    margin-top: 10px; }

  /* Info */
  .info {
    grid-column: 1/6;
    grid-row: 2/8;
    margin-left: 10px;
    margin-right: 10px; }

  .info p {
    font-size: 10px;
    margin-top: 20px; }

  .tillbaka {
    grid-row: 8/10;
    grid-column: 2/5;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
    margin-bottom: 35px; } }
