body{
    background-color: grey;
}

.container{
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(10,1fr);
    height: 960px;
    width: 1016px;
    background-color: white;
    margin: auto;
    grid-row-gap: 10px;
}


/* Headern */
header{
    grid-row: 1/3;
    grid-column: 1/11;
    background-color: rgb(209, 65, 225);
}

header h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

input{
    grid-column: 3/9;
    grid-row: 3/4;
    font-size: 20px;
}

.land{
    grid-row: 4/6;
    grid-column: 4/8;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    display: grid;
}

.land h1{
    grid-row: 2/3;
    grid-column: 1/4;
    color: rgb(209, 65, 225);
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    border-style: solid;
    border-color: rgb(209, 65, 225);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
}


/* Menyn */
.menu i.material-icons{    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-left: 10px;
}

button{
    grid-column: 10/11;
    grid-row: 1/3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(209, 65, 225);
    text-align: center;
    border: none;
    overflow: hidden;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    grid-column: 10/11;
    grid-row: 2/3;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    display: none;
    grid-row: 3/6;
    grid-column: 10/11;
    background: white;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

.show{
    display: block;
}


/* "Populära Resmål" listan */
.populärt{
    grid-row: 6/13;
    grid-column: 2/10;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(11,1fr);
    display: grid;
}

h2{
    grid-row: 1/3;
    grid-column: 1/11;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(209, 65, 225);
}

.land1{
    grid-row: 4/6;
    grid-column: 1/11;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(209, 65, 225);
}

.land1:active{
    background-color: rgb(235, 235, 235)
}

.land2{
    grid-row: 6/8;
    grid-column: 1/11;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(209, 65, 225);
}

.land2:active{
    background-color: rgb(235, 235, 235)
}

.land3{
    grid-row: 8/10;
    grid-column: 1/11;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(209, 65, 225);
}

.land3:active{
    background-color: rgb(235, 235, 235)
}

.land4{
    grid-row: 10/12;
    grid-column: 1/11;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(209, 65, 225);
}

.land4:active{
    background-color: rgb(235, 235, 235)
}

h3{ 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(209, 65, 225);
    margin-left: 10px;
}

.land1 a{
    grid-row: 4/6;
    grid-column: 1/2;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(209, 65, 225);
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
}

/* "Alfabetisk Ordning" listan */
 .alfabetisk{ 
    grid-row: 14/21;
    grid-column: 2/10;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(11,1fr);
    display: grid;
}

.alfabetisk p{
    grid-column: 1/11;
    grid-row: 3/4;
    color: rgb(209, 65, 225);
    font-size: 12px;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 0px;
}



@media only screen and (max-device-width: 400px){
    
    .container{
        grid-template-rows: repeat(10,1fr);
        grid-template-columns: repeat(5,1fr);
        height: 568px;
        width: 320px;
    }

    /* Headern */
    header{
        grid-row: 1/2;
        grid-column: 1/6;
    }
    
    input{
        font-size: 15px;
        grid-column: 2/5;
        grid-row: 2/3;
        margin: 5px;
    }

    header h1{
        font-size: 30px;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 0px;
    }

    .land{
        grid-row: 3/4;
        grid-column: 2/5;
    }

    .land h1{
        font-size: 20px;
        border: none;
        grid-row: 1/2;
    }

    /* Menyn */
    .menu i.material-icons{    
        font-size: 12px;
    }

    button{
        grid-column: 5/6;
        grid-row: 1/2;
        font-size: 15px;
    }

    button:after {
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .menu{
        grid-row: 2/4;
        grid-column: 5/6;
        font-size: 12px; 
        border-width: 1px;
    }

    /* "Populära Resmål" listan */
    .populärt{
        grid-row: 3/7;
        grid-column: 1/6;
    }
    
   .populärt h2{ 
        font-size: 20px;
        grid-row: 3/4;
        margin: 0px;
    }

    h3{
        font-size: 12px;
        margin-bottom: 5px;
    }

    .land1 a{
        font-size: 12px;
    }

    /* "Alfabetisk Ordning" listan */
    .alfabetisk{
        grid-row: 7/11;
        grid-column: 1/6;
    }

    .alfabetisk h2{
        font-size: 20px;
    }

    .alfabetisk p{
        font-size: 10px;
        letter-spacing: 4px; 
    }
}