body{
    background-color: grey;
}

.container{
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(10,1fr);
    height: 960px;
    width: 1016px;
    background-color: white;
    margin: auto;
    grid-row-gap: 10px;
}


/* Headern */
header{
    grid-row: 1/3;
    grid-column: 1/11;
    background-color: rgb(209, 65, 225);
}

header h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

input{
    grid-column: 3/9;
    grid-row: 4/5;
    font-size: 25px;
}


/* Menyn */
.menu i.material-icons{    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-left: 10px;
}

button{
    grid-column: 10/11;
    grid-row: 2/3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(209, 65, 225);
    text-align: center;
    border: none;
    overflow: hidden;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    grid-column: 10/11;
    grid-row: 2/3;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

li{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    display: none;
    grid-row: 3/5;
    grid-column: 10/11;
    background: white;
}

.show{
    display: block;
}


/* "Populära Resemål" listan */
@media only screen and (max-device-width: 400px){
    
    .container{
        grid-template-rows: repeat(10,1fr);
        grid-template-columns: repeat(5,1fr);
        height: 568px;
        width: 320px;
    }

    /* Headern */
    header{
        grid-row: 1/2;
        grid-column: 1/6;
    }
    
    input{
        font-size: 15px;
        grid-column: 2/5;
        grid-row: 2/3;
        margin: 5px;
    }

    header h1{
        font-size: 30px;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 0px;
    }

    /* Menyn */
    .menu i.material-icons{    
        font-size: 12px;
    }

    button{
        grid-column: 5/6;
        grid-row: 1/2;
        font-size: 15px;
    }

    button:after {
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .menu{
        grid-row: 2/4;
        grid-column: 5/6;
        font-size: 10px; 
    /* "Populära resemål" listan */
    }

}