<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/betalning.css">
    <title>B.U.T.T</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>B.U.T.T</h1>
        </header>
        <button onclick="toggleMenu()">Meny</button>

        <div class="hotell">
            <h1>Betalning:</h1>
        </div>
        
       <div class="menu"  onclick="toggleMenu()">
            <i class="material-icons">Stäng</i>
            <nav>
                <p></p>
                <p>Kontakta Oss</p>
                <p></p>
                <p>Om Oss</p>
            </nav>
        
        </div>
        <script src="js/menu.js"></script>
    
        <div class="uppgifter">
            
            <div class="korttyp">
                <h7>Välj Kort</h7>
                <select>
                    <option>Fisa</option>
                    <option>GayGal</option>
                    <option>MasterTard</option>
                    <option>Canadian Express</option>
                </select>
            </div>

            <div class="kortnummer">
                <h7>Kortnummer</h7>
                <input type="text">
            </div>

            <div class="utgångsdatum">
                <h7>Utgångsdatum och säkerhetskod</h7>
                
                <select type="text" class="månad">
                    <option>--</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                
                <select type="text" class="år">
                    <option>----</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                    <option>2028</option>
                </select>
                
                <input type="text" class="säkerhetskod">
            </div>

            <h8>Faktureringsuppgifter:</h8>
            <div class="namn">
                <h7 class="förnamn">Förnamn</h7>
                <input type="text" class="förnamn_input">

                <h7 class="efternamn">Efternamn</h7>
                <input type="text" class="efternamn_input">
            </div>
            
            <div class="stad">
                <h7>Stad</h7>
                <input type="text">
            </div>

            <div class="faktureringsadress">
                <h7>Faktureringsadress</h7>
                <input type="text">
            </div>

            <div class="postkod">
                <h7>Postkod</h7>
                <input type="text">
            </div>

            <div class="land">
                <h7>Land</h7>
                <input type="text">
            </div>

            <div class="telefonnummer">
                <h7>Telefonnummer</h7>
                <input type="text">
            </div>

        </div>

        <div class="betala">
            <a href="bokat_och_klart.html">
                <button class="bokaknapp">Betala</button>
            </a>
        </div>

    </div>
</body>