<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bokat_och_klart.css">
    <title>B.U.T.T</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>B.U.T.T</h1>
        </header>
        <button class="menyknapp" onclick="toggleMenu()">Meny</button>

        <div class="titel">
            <h1>Du har nu bokat din resa!</h1>
        </div>
        
       <div class="menu"  onclick="toggleMenu()">
            <i class="material-icons">Stäng</i>
            <nav>
                <p></p>
                <p>Kontakta Oss</p>
                <p></p>
                <p>Om Oss</p>
            </nav>
        </div>
        <script src="js/menu.js"></script>
    
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra efficitur lacus id lobortis. Phasellus venenatis dolor libero. Aliquam pulvinar velit et pulvinar venenatis. Nam et consectetur urna. Nam mollis eu felis ac rutrum. Cras sed fermentum lorem, nec accumsan erat. Duis sodales mi nec purus cursus, nec consequat odio dignissim. Nullam massa magna, mollis vitae venenatis at, tincidunt pretium sapien. Pellentesque vulputate gravida purus, et cursus turpis pulvinar ac. Donec id orci quis arcu fringilla sollicitudin. Vestibulum dapibus magna nec euismod vehicula. Quisque ac est laoreet, ullamcorper ex nec, gravida est.

                    Nulla facilisi. Nulla vehicula pulvinar felis, ut rhoncus turpis ullamcorper at. Nulla ullamcorper nibh et diam interdum consectetur. Proin cursus ultrices neque vel maximus. Nunc eleifend pellentesque ante a dignissim. Nullam maximus est id ultricies rhoncus. Cras ac augue vel neque volutpat molestie vel quis felis. Praesent imperdiet nec leo sed aliquet.
                    
                    Mauris dictum dolor consequat scelerisque facilisis. Sed vestibulum lectus eget lacus sollicitudin, sollicitudin bibendum nibh dapibus. Praesent consectetur massa at elementum bibendum. In hac habitasse platea dictumst. Aliquam quis nisi placerat, pretium metus sit amet, posuere tortor. Maecenas imperdiet nisl sit amet libero ultrices, ut tempor orci ornare. Vivamus feugiat sed tortor ac tempor. Praesent auctor sollicitudin velit.</p>
        </div>

        <a href="index.html">
            <button class="knapp">Tillbaka till Startsidan</button>
        </a>

    </div>
</body>