<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>B.U.T.T</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>B.U.T.T</h1>
        </header>
        <button onclick="toggleMenu()">Meny</button>
       <input type="text" placeholder="Sök Land">

        <div class="plats">
            <h1>Välj Land:</h1>
        </div>
        
       <div class="menu"  onclick="toggleMenu()">
            <i class="material-icons">Stäng</i>
            <nav>
                <p></p>
                <p>Kontakta Oss</p>
                <p></p>
                <p>Om Oss</p>
            </nav>
        
        </div>
        <script src="js/menu.js"></script>

        <div class="populärt">
            <h2>Populära Resmål</h2>
            
            <div class="plats1">
                <a href="välj_stad.html">Tyskland</a>
            </div>
            <div class="plats2">
                <h3>U.S.A</h3>
            </div>
            <div class="plats3">
                <h3>Tanzania</h3>
            </div>
            <div class="plats4">
                <h3>Jamaica</h3>
            </div>   
        </div>

         <div class="alfabetisk">
            <h2>Alfabetisk Ordning</h2>
            <p>ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ</p>
            
            <div class="plats1">
                <h3>Abchazien</h3>
            </div>
            <div class="plats2">
                <h3>Afghanistan</h3>
            </div>
            <div class="plats3">
                <h3>Albanien</h3>
            </div>
            <div class="plats4">
                <h3>Algeriet</h3>
            </div>
        </div>

    </div>
    
</body>
</html>