
        <input class="sok_plats"type="text" placeholder="Sök land">
        
        <div class="plats">
            <h1>Välj Land:</h1>
        </div>

        <div class="populart">
            <h2>Populära Resmål</h2>
            
            <div class="plats1">
                <a href="välj_stad.html">Tyskland</a>
            </div>
            <div class="plats2">
                <h3>U.S.A</h3>
            </div>
            <div class="plats3">
                <h3>Tanzania</h3>
            </div>
            <div class="plats4">
                <h3>Jamaica</h3>
            </div>   
        </div>

        <div class="alfabetisk">
            <h2>Alfabetisk Ordning</h2>
            <p>ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ</p>
            
            <div class="plats1">
                <h3>Abchazien</h3>
            </div>
            <div class="plats2">
                <h3>Afghanistan</h3>
            </div>
            <div class="plats3">
                <h3>Albanien</h3>
            </div>
            <div class="plats4">
                <h3>Algeriet</h3>
            </div>
        </div>