        
        <input type="text" placeholder="Sök stad">
        
        <div class="plats">
            <h1>Tyskland:</h1>
        </div>

        <div class="populärt">
            <h2>Populära Städer</h2>
            
            <div class="plats1">
                <a href="välj_hotell.html">Berlin</a>
            </div>
            <div class="plats2">
                <h3>München</h3>
            </div>
            <div class="plats3">
                <h3>Köln</h3>
            </div>
            <div class="plats4">
                <h3>Bremen</h3>
            </div>   
        </div>

         <div class="alfabetisk">
            <h2>Alfabetisk Ordning</h2>
            <p>ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ</p>
            
            <div class="plats1">
                <h3>Aachen</h3>
            </div>
            <div class="plats2">
                <h3>Aalen</h3>
            </div>
            <div class="plats3">
                <h3>Abenberg</h3>
            </div>
            <div class="plats4">
                <h3>Abensberg</h3>
            </div>
        </div>